---
layout: default
title: Blog - Storyberg - Build something people want
---

{% for post in site.posts %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year >= "2012" %}
    <div class="mod man">
      <div class="hd">
        <h1 class="h1 huge txtC" style="font-variant: small-caps; text-transform: lowercase;">{{ post.title }}</h1>
        <p class="small txtC mbn"><em>Written by <a href="http://twitter.com/{{post.handle }}">{{ post.author }}</a> on {{ post.date | date_to_string }}</em></p>
      </div>
    </div>
    <div class="mod man">
      <div class="bd modPost">
          {{ post.content }}
      </div>
    </div>
  {% endif %}
{% endfor %}
