<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
  <meta charset="utf-8">
	<title>{{ page.title }} | Storyberg</title>
  <meta name="author" content="Michael Dijkstra">
  <meta name="Copyright" content="Copyright Michael Dijkstra 2012. All Rights Reserved.">
  <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />

  <!-- Icons -->
  <link title="iPhone4" rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/ios-114.png">
  <link title="iPad" rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/ios-72.png">
  <!-- Icon57x57 -->
  <link title="iPhone3" rel="apple-touch-icon-precomposed" href="/assets/images/ios.png"><!-- 57x57 -->
  <link title="nokia" rel="shortcut icon" href="/assets/images/ios.png">
  <link title="Favicon" rel="shortcut icon" href="/assets/images/favicon.png"> <!-- 32x32 -->

  <!-- iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- startup image for web apps - iPad - landscape (748x1024) -->
  <link rel="apple-touch-startup-image" href="/assets/images/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
  <!-- startup image for web apps - iPad - portrait (768x1004) -->
  <link rel="apple-touch-startup-image" href="/assets/images/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
  <!-- startup image for web apps (320x460) -->
  <link rel="apple-touch-startup-image" href="/assets/images/iphone.png" media="screen and (max-device-width: 320px)" />
  <!-- webpage icon -->
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/ios-114.png">

  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css">
</head>
<body>

	{{ content }}

  <div class="page">
    <div class="body">
      <div class="mod man">
        <div class="bd phl">
          <p class="txtC"><em>Want to build a more successful startup by knowing you're building something people want? <a href="http://storyberg.com">Start your story on Storyberg</a>.</em></p>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="body">
      <div class="mod man">
        <div class="bd modPost txtC">
          <p class="small"><a href="http://feeds.feedburner.com/storyberg">Subscribe to RSS</a> | <a href="http://twitter.com/storyberg">Follow on Twitter</a></p>
        </div>
        <div class="ft modPost txtC">
          <p class="small">&copy; Storyberg</p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="http://use.typekit.com/rns0zsd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34860433-1']);
  _gaq.push(['_setDomainName', 'storyberg.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
